.container {
    width: 1120px !important;
    color: #fff;

}

.firstrow {
    height: 180px;
    padding: 20px;
    border: 1px solid white;
    border-radius: 10px;
}

select {
    width: 1000px !important;

}

.uploadfile {
    border: 1px solid white;
    border-radius: 10px;
    width: 315px;
    height: 252px;
}

.avatarcard {
    margin-top: 20px;
    border-radius: 10px;
}

.inputfields {
    width: 220px !important;
}


.accountsettings {
    text-align: start;
    width: 680px;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
}

.footer {
    border: 1px solid white;
    padding: 10px;
}